@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container {
  text-align: center;
}

.header_text {
  display: inline-block;
  opacity: 0;
  animation-name: slideIn;
  animation-duration: 2.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.header_text:nth-child(1) {
  animation-delay: 0.2s;
}

.header_text:nth-child(2) {
  animation-delay: 0.4s;
}

.header_text:nth-child(3) {
  animation-delay: 0.8s;
}

/* Add other styles as needed */


.header_container{
    text-align: center;
    height: 100%;
    position: relative;
    margin-top: 8rem;
    gap:10 ;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header_social{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 5rem;
    top: 18rem;
    font-size: 41px;
    margin-top: 18px;
    
}
.header_social::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.me {
  background: linear-gradient(var(--color-white), white);
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 50%;
 padding: 0px 24px 12px 100px;
  overflow: hidden;

  background-size: cover;
  background-position: center;
}

.scroll_down {
  position: absolute;
  bottom: 2rem;
  left: 100%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 8px;
  border-radius: 50%;
  border: white; /* Set the color to white */
}


 /* .header_social,.scroll_down{
        position: fixed;
     } */


 @media screen and (max-width:768px) {
     .header_social,.scroll_down{
       
         display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 1.9rem;
    top: 22rem;
    font-size: 20px;
    margin-top: 18px;

     } 
        } 
        
 @media screen and (max-width:800px) {
     .scroll_down{
       
         display: none;
   
     } 
        }
@media screen and (max-width:500px) {
     .header_social{
       
          display: none;
   
     } 
  
}
.text-align-center{
    /* font-size: 75px; */
    margin-left: 13px;
      font-family: ;
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
    line-height: 1;
   
    
}
